@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* @font-face {
    font-family: 'DynaPuff';
    src: url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
    font-weight: 500;
    font-style: normal; 
  } */
  
  body {
    /* font-family: 'DynaPuff', sans-serif; */
  background-color: pink;

    /* Additional CSS styles for your body element */
  }